[Unit]
Description=Jitsi Jicofo

[Service]
ExecStart=/opt/jicofo/jicofo-{{ jicofo_build_number }}/jicofo.sh --domain={{ jitsi_fqdn }} --secret={{ jicofo_secret }}

[Install]
WantedBy=multi-user.target
